.navbar_first_charecter {
    font-weight: 600;
    transition: 0.5s;
}

.Navbar_hover:hover .navbar_first_charecter {
    color: rgb(206, 25, 55);
    transition: 0.5s;
}

.all_ul_tag_and_phone_number {
    justify-content: space-between;
    align-items: flex-end
}

.logoo a {
    text-decoration: none;
}

.my_own_color {
    color: rgb(209, 21, 84);
}

.class_name_bold {
    font-weight: 500;
}

.icons:hover {
    color: rgb(206, 25, 55);
    transition: 0.5s;
    /* justify-content: flex-start; */
    /* display: flex; */
    /* margin-top: 150px; */
}

.foter {
    text-decoration: none;
    font-weight: 700;
}

.class_name_bold {
    font-weight: 500;
}

.gallery_img:hover {
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transform: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.zoom-eff {
    overflow: hidden;
    margin: 0 auto;
}

.gallery_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.logo {
    /* transition: all 0.5s; */
    /* transform: rotateY(180deg); */
    background-color: burlywood;
    text-decoration: none;
}

.footer_nav:hover {
    cursor: pointer;
    transition: 0.5s;
    margin-left: 3px;
}

.footer_nav {
    cursor: pointer;
    transition: 0.5s;
}