.full_notic {
    align-items: center;
}

.dawnload_btn a {
    text-decoration: none;
    color: white;
}

.logo {
    /* transition: all 0.5s; */
    /* transform: rotateY(180deg); */
    background-color: burlywood;
}